# General configration
ECTS_ENV=production
ECTS_LOGGING_LEVEL=INFO

# HTTP configuration
ECTS_HTTP_LISTEN=0.0.0.0:9701
# ECTS_HTTP_TLSKEY=/certs/domain.tld.key
# ECTS_HTTP_TLSCERT=/certs/domain.tld.crt

# GRPC configruation
ECTS_GRPC_LISTEN=0.0.0.0:8080
# ECTS_GRPC_TLSKEY=/certs/domain.tld.key
# ECTS_GRPC_TLSCERT=/certs/domain.tld.crt

ECTS_DATABASE_URL=wss://surrealdb.database.local/rpc
ECTS_DATABASE_DATABASE=focusly
ECTS_DATABASE_USERNAME=surrealdb
ECTS_DATABASE_PASSWORD=
ECTS_DATABASE_NAMESPACE=betterde