/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "./assets/styles/global";


.main-content {
  .panel {
    height: 100%;

    .panel-header {
      padding: 20px;
      min-height: 60px;
      background-color: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      .panel-tools {
        text-align: left;
      }
    }

    .panel-body {
      padding: 20px;
      margin: 20px 0;
      background-color: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      .pagination {
        margin-top: 20px;
        text-align: center;
      }
    }
    .panel-footer {
      margin: 20px 0;
      padding: 20px;
      background-color: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
